<!DOCTYPE html>
<html lang="en" class="indexBody">
<head>
  <link rel="stylesheet" href="/static/styless.css">
  <meta charset="UTF-8">
  <title>Login Form</title>
</head>
<body>
  <div class="mainDivIndex">
    <h1>Login Form</h1>
      <div class="formsDivIndex">
          <form method="post" action="/login">
            <input type="email" id="email" name="email" required placeholder="email@example.com"><br><br>
            <input type="password" id="password" name="password" required placeholder="password..."><br><br>
            <button class="buttonBlue" type="submit" value="Login">Login</button>
          </form>
      </div>
  </div>
</body>
</html>
