<!DOCTYPE html>
<html lang="en" class="indexBody">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/static/styless.css">
</head>
<body>
    <main>
    <div class="mainDivIndex ">
        <h1>Profile Page</h1>
        <a href="/">Home</a>
        {% if session['email'] %}
        <div class="profile-info">
            <div class="user-info">
                <h3>Hello {{ session['name'] }}</h3>
                <p>Email:  {{ session['email'] }}</p>
            </div>
        </div>
        <h2>Door Control</h2>
        {% if session %}
        <div class="door-control">
            {% for door in doors %}
                {% if user[5] == 1 and door[1] == 'door1' %}
                    <h2>First Door</h2>
                    <form method="POST" action="{{ url_for('change_door_state', door_id='door1') }}">
                        <label for="door1-status">Status: {{ "Open" if door[2] else "Closed" }} </label>
                        <br>
                        <p>Name: {{ door[1] }}</p>
                        <button type="submit" name="action" value="{{ 'lock' if door[2] else 'unlock' }}" class="buttonBlue">{{ "Lock" if door[2] else "Unlock" }}</button>
                    </form>
                {% elif user[5] != 1 and door[1] == 'door1' %}
                    <h2>First Door</h2>
                    <h3>You do not have access to this door</h3>
                {% endif %}
        
                {% if user[6] == 1 and door[1] == 'door2' %}
                    <h2>Second Door</h2>
                    <form method="POST" action="{{ url_for('change_door_state', door_id='door2') }}">
                        <label for="door2-status">Status: {{ "Open" if door[2] else "Closed" }} </label>
                        <br>
                        <p>Name: {{ door[1] }}</p>
                        <button type="submit" name="action" value="{{ 'lock' if door[2] else 'unlock' }}" class="buttonBlue">{{ "Lock" if door[2] else "Unlock" }}</button>
                    </form>
                {% elif user[6] != 1 and door[1] == 'door2' %}
                    <h2>Second Door</h2>
                    <h3>You do not have access to this door</h3>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
            <h2>You are not in the system, please Login or Register</h2>
            <form action="/signup">
                <button class="buttonBlue" type="submit">SIGN UP</button>
            </form>
            <form action="/login">
                <button class="buttonBlue" type="submit">SIGN IN</button>
            </form>
        {% endif %}
        {% endif %}        
    </div>
    </main>
</body>
</html>