<!DOCTYPE html>
<html lang="en" class="indexBody">
<head>
  <link rel="stylesheet" href="/static/styless.css">
  <meta charset="UTF-8">
  <title>Sign UP</title>
</head>
<body>
  <div class="mainDivIndex">
    <h1>Sign up!</h1>
      <div class="formsDivIndex">
          <form action="post-user" method="POST">
            <input type="text" id="name-input" name="name" 
                placeholder="Your name"> <p></p>
            <input type="email" id="email-input" name="email" 
             placeholder="Your email"> <p></p>
            <input type="tel" id="phone-input" name="phone" 
                 placeholder="Your phone number"><p></p>
            <input type="password" id="pw-input" name="password" 
                 placeholder="Enter a password"><p></p>
            <button class="buttonBlue" type="submit">Sign up</button>
          </form>
      </div>
  </div>
</body>
</html>